<!-- Side Nav START -->
<div class="side-nav expand-lg">
  <div class="side-nav-inner">
    <ul class="side-nav-menu">
      <li class="side-nav-header">
        <span>Navigation</span>
      </li>
      <li class="nav-item dropdown <%= page=='home'? 'open' : '' %>">
        <a href="/" class="dropdown-toggle">
          <span class="icon-holder">
            <i class="lni-home"></i>
          </span>
          <span class="title">Home</span>
          <span class="arrow">
            <i class="lni-chevron-right"></i>
          </span>
        </a>
      </li>
      <li class="nav-item dropdown <%= page=='profile'? 'open' : '' %>">
        <a href="/profile" class="dropdown-toggle">
          <span class="icon-holder">
            <i class="lni-user"></i>
          </span>
          <span class="title">Profile</span>
          <span class="arrow">
            <i class="lni-chevron-right"></i>
          </span>
        </a>
      </li>
      <li class="nav-item dropdown <%= page=='dashboard'? 'open' : '' %>">
        <a href="/dashboard" class="dropdown-toggle">
          <span class="icon-holder">
            <i class="lni-dashboard"></i>
          </span>
          <span class="title">Dashboard</span>
          <span class="arrow">
            <i class="lni-chevron-right"></i>
          </span>
        </a>
      </li>
      <li class="nav-item dropdown <%= page=='event'? 'open' : '' %>">
        <a class="dropdown-toggle" href="#">
          <span class="icon-holder">
            <i class="lni-layers"></i>
          </span>
          <span class="title">Events</span>
          <span class="arrow">
            <i class="lni-chevron-right"></i>
          </span>
        </a>
        <ul class="dropdown-menu sub-down">
          <li>
            <a href="/ongoing-event">Ongoing</a>
          </li>
          <li>
            <a href="/upcoming-event">Upcoming</a>
          </li>
          <li>
            <a href="/past-event">Past</a>
          </li>
        </ul>
      </li>
      <li class="nav-item dropdown <%= page=='office-bearers'? 'open' : '' %>">
        <a class="dropdown-toggle" href="/blog">
            <span class="icon-holder">
              <i class="lni-gallery"></i>
            </span>
            <span class="title">Blog</span>
            <span class="arrow">
              <i class="lni-chevron-right"></i>
            </span>
          </a>
      </li>
      <li class="nav-item dropdown <%= page=='office-bearers'? 'open' : '' %>">
        <a class="dropdown-toggle" href="/office-bearers">
            <span class="icon-holder">
              <i class="lni-heart"></i>
            </span>
            <span class="title">Office Bearers</span>
            <span class="arrow">
              <i class="lni-chevron-right"></i>
            </span>
          </a>
      </li>
      <li class="nav-item dropdown <%= page=='contact'? 'open' : '' %>">
        <a class="dropdown-toggle" href="/contact">
            <span class="icon-holder">
              <i class="lni-phone"></i>
            </span>
            <span class="title">Contact</span>
            <span class="arrow">
              <i class="lni-chevron-right"></i>
            </span>
          </a>
      </li>
      <li class="nav-item dropdown <%= page=='admin'? 'open' : '' %>">
        <a class="dropdown-toggle" href="/admin">
            <span class="icon-holder">
              <i class="lni-cog"></i>
            </span>
            <span class="title">Admin Page</span>
            <span class="arrow">
              <i class="lni-chevron-right"></i>
            </span>
          </a>
      </li>
      <!-- <li class="nav-item dropdown">
        <a class="dropdown-toggle" href="#">
          <span class="icon-holder">
            <i class="lni-layers"></i>
          </span>
          <span class="title">UI Elements</span>
          <span class="arrow">
            <i class="lni-chevron-right"></i>
          </span>
        </a>
        <ul class="dropdown-menu sub-down">
          <li>
            <a href="#">Alert</a>
          </li>
          <li>
            <a href="#">Badge</a>
          </li>
          <li>
            <a href="#">Buttons</a>
          </li>
          <li><span class="badge badge-primary badge-pro float-right">Pro</span>
            <a href=#>Cards</a>
          </li>
          
          <li><span class="badge badge-primary badge-pro float-right">Pro</span>
            <a href=#>Lists</a>
          </li>
          <li><span class="badge badge-primary badge-pro float-right">Pro</span>
            <a href=#>Typography</a>
          </li>
        </ul>
      </li>
      <li class="nav-item dropdown">
        <a class="dropdown-toggle" href="#">
          <span class="icon-holder">
            <i class="lni-timer"></i>
          </span>
          <span class="title">Components</span>
          <span class="arrow">
            <i class="lni-chevron-right"></i>
          </span>
        </a>
        <ul class="dropdown-menu sub-down">
          <li>
            <a href="#">Accordions</a>
          </li>
          <li>
            <a href="#">Carousel</a>
          </li>
          <li>
            <a href="#">Dropdown</a>
          </li>
          <li><span class="badge badge-primary badge-pro float-right">Pro</span>
            <a href=#>Modals</a>
          </li>
          <li><span class="badge badge-primary badge-pro float-right">Pro</span>
            <a href=#>Notifications</a>
          </li>
          <li><span class="badge badge-primary badge-pro float-right">Pro</span>
            <a href=#>Popover</a>
          </li>
          <li><span class="badge badge-primary badge-pro float-right">Pro</span>
            <a href=#>Progress Bars</a>
          </li>
          <li><span class="badge badge-primary badge-pro float-right">Pro</span>
            <a href=#>Tabs</a>
          </li>
          <li><span class="badge badge-primary badge-pro float-right">Pro</span>
            <a href=#>Tooltips</a>
          </li>
        </ul>
      </li>
      <li class="nav-item dropdown">
        <a class="dropdown-toggle" href="#">
          <span class="icon-holder">
            <i class="lni-package"></i>
          </span>
          <span class="title">Icons</span>
          <span class="arrow">
            <i class="lni-chevron-right"></i>
          </span>
        </a>
        <ul class="dropdown-menu sub-down">
          <li>
            <a href="#">Line Icons</a>
          </li>
          <li>
            <a href="#">Font Awesome</a>
          </li>
          <li><span class="badge badge-primary badge-pro float-right">Pro</span>
            <a href=#>Material Design</a>
          </li>
        </ul>
      </li>
      <li class="nav-item dropdown">
        <a class="dropdown-toggle" href="#">
          <span class="icon-holder">
            <i class="lni-files"></i>
          </span>
          <span class="title">Forms</span>
          <span class="arrow">
            <i class="lni-chevron-right"></i>
          </span>
        </a>
        <ul class="dropdown-menu sub-down">
          <li>
            <a href="#">Form Elements</a>
          </li>
          <li><span class="badge badge-primary badge-pro float-right">Pro</span>
            <a href=#>Form Layouts</a>
          </li>
          <li><span class="badge badge-primary badge-pro float-right">Pro</span>
            <a href=#>Form Validation</a>
          </li>
        </ul>
      </li>
      <li class="nav-item dropdown">
        <a class="dropdown-toggle" href="#">
          <span class="icon-holder">
            <i class="lni-control-panel"></i>
          </span>
          <span class="title">Tables</span>
          <span class="arrow">
            <i class="lni-chevron-right"></i>
          </span>
        </a>
        <ul class="dropdown-menu sub-down">
          <li>
            <a href="#">Basic Table</a>
          </li>
          <li><span class="badge badge-primary badge-pro float-right">Pro</span>
            <a href=#>Data Table</a>
          </li>
        </ul>
      </li>
      <li class="nav-item dropdown">
        <a class="dropdown-toggle" href="#">
          <span class="icon-holder">
            <i class="lni-pie-chart"></i>
          </span>
          <span class="title">Charts</span>
          <span class="arrow">
            <i class="lni-chevron-right"></i>
          </span>
        </a>
        <ul class="dropdown-menu sub-down">
          <li>
            <a href="#">Marris Chart</a>
          </li>
          <li><span class="badge badge-primary badge-pro float-right">Pro</span>
            <a href=#>ChartJs</a>
          </li>
          <li><span class="badge badge-primary badge-pro float-right">Pro</span>
            <a href=#>Flot Chart</a>
          </li>
        </ul>
      </li>
      <li class="nav-item dropdown">
        <a class="dropdown-toggle" href="#">
          <span class="icon-holder">
            <i class="lni-map-marker"></i>
          </span>
          <span class="title">Map</span>
          <span class="arrow">
            <i class="lni-chevron-right"></i>
          </span>
        </a>
        <ul class="dropdown-menu sub-down">
          <li>
            <a href="#">Google Map</a>
          </li>
          <li><span class="badge badge-primary badge-pro float-right">Pro</span>
            <a href=#>Vector Map</a>
          </li>
        </ul>
      </li>
      <li class="nav-item dropdown">
      <span class="badge badge-primary badge-pro float-right">Pro</span>
        <a class="dropdown-toggle" href="#">
          <span class="icon-holder">
            <i class="lni-files"></i>
          </span>
          <span class="title">Pages</span>
          <span class="arrow">
            <i class="lni-chevron-right"></i>
          </span>
          </a>
        <ul class="dropdown-menu sub-down">
          <li><span class="badge badge-primary badge-pro float-right">Pro</span>
            <a href=#>Profile</a>
          </li>
          <li><span class="badge badge-primary badge-pro float-right">Pro</span>
            <a href=#>Invoice</a>
          </li>
          <li><span class="badge badge-primary badge-pro float-right">Pro</span>
            <a href=#>FAQ</a>
          </li>
          
          <li><span class="badge badge-primary badge-pro float-right">Pro</span>
            <a href=#>Login</a>
          </li>
          <li><span class="badge badge-primary badge-pro float-right">Pro</span>
            <a href=#></a>
          </li>
          <li><span class="badge badge-primary badge-pro float-right">Pro</span>
            <a href=#>404</a>
          </li>
        </ul>
      </li> -->
    </ul>
  </div>
</div>
<!-- Side Nav END -->