<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Contact | Club Inno </title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
    <!-- Fonts -->
    <link rel="stylesheet" type="text/css" href="/fonts/line-icons.css">
    <!--Morris Chart CSS -->
    <link rel="stylesheet" href="/plugins/morris/morris.css">
    <!-- Main Style -->
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <!-- Responsive Style -->
    <link rel="stylesheet" type="text/css" href="/css/responsive.css">

      <!--====== Line Icons CSS ======-->
    <link rel="stylesheet" href="assets/fonts/lineicons/font-css/LineIcons.css">

    <!--====== Bootstrap CSS ======-->
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">

    <!--====== Default CSS ======-->
    <link rel="stylesheet" href="assets/css/default.css">

    <!--====== Style CSS ======-->
    <link rel="stylesheet" href="assets/css/style.css">

    <style>
      .dark-bg {
        background-color: #1a2942;
        color: #b7c9d1 !important;
      }
    </style>

  </head>

  <body>
    <!-- <title><%= title %></title>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p> -->
    <div class="app header-default side-nav-dark">
      <div class="layout">
        
        <%- include('_header'); %>
        
        <%- include('_navbar'); %>

        <!-- Page Container START -->
        <div class="page-container">
          <!-- Content Wrapper START -->
          <div class="main-content" style="padding: 0;">

<!--====== CONTACT PART START ======-->

    <section id="contact" class="contact_area pt-70 pb-120">
        <div class="contact_image d-flex align-items-center justify-content-end">
            <div class="image">
                <img class="wow fadeInLeftBig" data-wow-duration="2s" data-wow-delay="0.4s" src="assets/images/contact.svg" alt="about">
            </div>
        </div> <!-- about image -->
        
        <div class="container">
            <div class="row justify-content-end">
                <div class="col-lg-6">
                    <div class="contact_wrapper mt-45 wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="0.9s">
                        <div class="section_title pb-15">
                            <h5 class="sub_title">Contact</h5>
                            <h4 class="main_title">Get In Touch</h4>
                            <p>Feel free to ask doubts</p>
                        </div> <!-- section title -->
                        
                        <div class="contact_form">
                            <form id="contact-form" action="/">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="single_form">
                                            <input name="name" type="text" placeholder="Name">
                                        </div> <!-- single form -->
                                    </div>
                                    <div class="col-md-6">
                                        <div class="single_form">
                                            <input name="email" type="email" placeholder="Email">
                                        </div> <!-- single form -->
                                    </div>
                                    <div class="col-md-12">
                                        <div class="single_form">
                                            <textarea name="message" placeholder="Message"></textarea>
                                        </div> <!-- single form -->
                                    </div>
                                    <p class="form-message"></p>
                                    <div class="col-md-12">
                                        <div class="single_form">
                                            <button class="main-btn">Submit</button>
                                        </div> <!-- single form -->
                                    </div>
                                </div> <!-- row -->
                            </form>
                        </div> <!-- contact form -->
                    </div> <!-- contact wrapper -->
                </div>
            </div> <!-- row -->
        </div> <!-- container -->
    </section>

    <!--====== CONTACT PART ENDS ======-->





          </div>
          <!-- Content Wrapper END -->

        <%- include('_footer'); %>

        </div>
        <!-- Page Container END -->
      </div>
    </div>

    <!-- Preloader -->
    <div id="preloader">
      <div class="loader" id="loader-1"></div>
    </div>
    <!-- End Preloader -->

     <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="/js/jquery-min.js"></script>
    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/jquery.app.js"></script>
    <script src="/js/main.js"></script>

    <!--Morris Chart-->
    <script src="/plugins/morris/morris.min.js"></script>
    <script src="/plugins/raphael/raphael-min.js"></script>
    <script src="/js/dashborad1.js"></script>

  </body>
</html>