<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Dashboard | Club Inno</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
    <!-- Fonts -->
    <link rel="stylesheet" type="text/css" href="/fonts/line-icons.css">
    <!--Morris Chart CSS -->
    <link rel="stylesheet" href="/plugins/morris/morris.css">
    <!-- Main Style -->
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <!-- Responsive Style -->
    <link rel="stylesheet" type="text/css" href="/css/responsive.css">

    <style>
      .dark-bg {
        background-color: #1a2942;
        color: #b7c9d1 !important;
      }
    </style>

  </head>

  <body>
    <!-- <title><%= title %></title>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p> -->
    <div class="app header-default side-nav-dark">
      <div class="layout">
        
        <%- include('_header'); %>
        
        <%- include('_navbar'); %>

        <!-- Page Container START -->
        <div class="page-container">
          <!-- Content Wrapper START -->
          <div class="main-content">
            <div class="container-fluid">
              <!-- Breadcrumb Start -->
              <div class="breadcrumb-wrapper row">
                <div class="col-12 col-lg-3 col-md-6">
                  <h4 class="page-title">Dashboard</h4>
                </div>
                <div class="col-12 col-lg-9 col-md-6">
                  <ol class="breadcrumb float-right">
                    <li><a href="#">Home</a></li>
                    <li class="active">/ Dashboard</li>
                  </ol>
                </div>
              </div>
              <!-- Breadcrumb End -->
            </div>

            <div class="container-fluid">
              <!-- Title Count Start -->
              <div class="card-group">
                <div class="card">
                  <div class="card-body dark-bg">
                    <div class="row">
                      <div class="col-12">
                        <div class="d-flex no-block align-items-center">
                          <div>
                            <div class="icon"><i class="lni-display"></i></div>
                             <p class="text-muted">New Clients</p>
                          </div>
                          <div class="ml-auto">
                             <h2 class="counter text-primary">234</h2>
                          </div>
                        </div>
                      </div>
                      
                    </div>
                  </div>
                </div>
                <div class="card">
                  <div class="card-body dark-bg">
                    <div class="row">
                      <div class="col-12">
                        <div class="d-flex no-block align-items-center">
                          <div>
                            <div class="icon"><i class="lni-display"></i></div>
                             <p class="text-muted">New Clients</p>
                          </div>
                          <div class="ml-auto">
                             <h2 class="counter text-primary">234</h2>
                          </div>
                        </div>
                      </div>
                      
                    </div>
                  </div>
                </div>
                <div class="card">
                  <div class="card-body dark-bg">
                    <div class="row">
                      <div class="col-12">
                        <div class="d-flex no-block align-items-center">
                          <div>
                             <div class="icon"><i class="lni-pencil-alt"></i></div>
                             <p class="text-muted">Total Projects</p>
                          </div>
                          <div class="ml-auto">
                             <h2 class="counter text-success">1,390</h2>
                          </div>
                        </div>
                      </div>
                      
                    </div>
                  </div>
                </div>
                <div class="card">
                  <div class="card-body dark-bg">
                    <div class="row">
                      <div class="col-12">
                        <div class="d-flex no-block align-items-center">
                          <div>
                             <div class="icon"><i class="lni-empty-file"></i></div>
                             <p class="text-muted">Pending Invoices</p>
                          </div>
                          <div class="ml-auto">
                             <h2 class="counter text-info">5,723</h2>
                          </div>
                        </div>
                      </div>
                      
                    </div>
                  </div>
                </div>
                <div class="card">
                  <div class="card-body dark-bg">
                    <div class="row">
                      <div class="col-12">
                        <div class="d-flex no-block align-items-center">
                          <div>
                             <div class="icon"><i class="lni-cart"></i></div>
                             <p class="text-muted">All Projects</p>
                          </div>
                          <div class="ml-auto">
                             <h2 class="counter text-purple">2,396</h2>
                          </div>
                        </div>
                      </div>
                      
                    </div>
                  </div>
                </div>
              </div>
              <!-- Title Count End -->
              
              <div class="row">
                <div class="col-lg-8 col-md-12 col-xs-12">
                  <div class="card">
                    <div class="card-header dark-bg">
                      <h4 class="card-title">Best Performing Clients</h4>
                      <!-- <div class="selected float-right">
                        <select class="custom-select">
                          <option selected="selected" value="0">Monthly</option>
                          <option value="1">Daily</option>
                          <option value="2">Weekly</option>
                          <option value="3">Yearly</option>
                        </select>
                      </div> -->
                    </div>
                    <div class="table-overflow">
                      <table class="table dark-bg table-lg">
                        <thead>
                          <tr>
                            <td class="text-semibold">Company Name</td>
                            <td class="text-semibold">Product</td>
                            <td class="text-semibold">Source</td>   
                            <td class="text-semibold">Status</td>   
                            <td class="text-semibold">Billed</td>
                            <td class="text-semibold">Paid</td>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td><span class="title text-semibold">Tesla Motors</span></td>
                            <td>CRM Software</td>
                            <td>Onsite</td>
                            <td><a href="#" class="badge badge-danger">Processing</a></td>
                            <td>$423.00</td>
                            <td>$168.00</td>
                          </tr>
                          <tr>
                            <td> <span class="title text-semibold">Samsung</span> </td>
                            <td>GIS Software</td>
                            <td>Marketplace</td>
                            <td><a href="#" class="badge badge-success">Done</a></td>
                            <td>$665.67</td>
                            <td>$665.67</td>
                          </tr>
                          <tr>
                            <td> <span class="title text-semibold">Dropbox Inc.</span> </td>
                            <td>Accounting Software</td>
                            <td>Others</td>
                            <td><a href="#" class="badge badge-info">On-hold</a></td>
                            <td>$576.00</td>
                            <td>$476.00</td>
                          </tr>
                          <tr>
                            <td> <span class="title text-semibold">UIdeck</span> </td>
                            <td>Sales Dashboard</td>
                            <td>Marketplace</td>
                            <td><a href="#" class="badge badge-success">Done</a></td>
                            <td>$234.00</td>
                            <td>$234.00</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
                <div class="col-lg-4 col-md-12 col-xs-12">
                  <div class="card">
                    <div class="card-body dark-bg text-center">
                      <h4 class="header-title">Earning Sources</h4>
                      <ul class="list-inline widget-chart m-t-20 text-center">
                        <li>
                          <h4 class=""><b>3654</b></h4>
                          <p class="text-muted m-b-0">Marketplace</p>
                        </li>
                        <li>
                          <h4 class=""><b>954</b></h4>
                          <p class="text-muted m-b-0">On Site</p>
                        </li>
                        <li>
                          <h4 class=""><b>262</b></h4>
                          <p class="text-muted m-b-0">Others</p>
                        </li>
                      </ul>
                      <div id="" style="height: 240px"></div>
                    </div>
                  </div>
                </div>
              </div>
              
            </div>
          </div>
          <!-- Content Wrapper END -->

        <%- include('_footer'); %>

        </div>
        <!-- Page Container END -->
      </div>
    </div>

    <!-- Preloader -->
    <div id="preloader">
      <div class="loader" id="loader-1"></div>
    </div>
    <!-- End Preloader -->

     <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="/js/jquery-min.js"></script>
    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/jquery.app.js"></script>
    <script src="/js/main.js"></script>

    <!--Morris Chart-->
    <script src="/plugins/morris/morris.min.js"></script>
    <script src="/plugins/raphael/raphael-min.js"></script>
    <script src="/js/dashborad1.js"></script>

  </body>
</html>