<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Home | Club Inno</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
    <!-- Fonts -->
    <link rel="stylesheet" type="text/css" href="/fonts/line-icons.css">
    <!--Morris Chart CSS -->
    <link rel="stylesheet" href="/plugins/morris/morris.css">
    <!-- Main Style -->
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <!-- Responsive Style -->
    <link rel="stylesheet" type="text/css" href="/css/responsive.css">
    
    <link rel="stylesheet" type="text/css" href="/css/home.css">

    <style>
      .dark-bg {
        background-color: #1a2942;
        color: #b7c9d1 !important;
      }
    </style>

  </head>

  <body>
    <!-- <title><%= title %></title>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p> -->
    <div class="app header-default side-nav-dark">
      <div class="layout">
        
        <%- include('_header'); %>
        
        <%- include('_navbar'); %>

        <!-- Page Container START -->
        <div class="page-container">
          <!-- Content Wrapper START -->
          <div class="main-content">
            <div class="container-fluid">
              <!-- Breadcrumb Start -->
              <div class="breadcrumb-wrapper row">
                <div class="col-12 col-lg-3 col-md-6">
                  <h4 class="page-title">Home</h4>
                </div>
                <div class="col-12 col-lg-9 col-md-6">
                  <ol class="breadcrumb float-right">
                    <li><a href="#">Home</a></li>
                    <li class="active">/ </li>
                  </ol>
                </div>
              </div>
              <!-- Breadcrumb End -->
            </div> 
            <div class="container-fluid">

<!-- 

              <h1>Welcome to Club Innovative</h1>

              <h3>This webpage is a new initiative by us to bring all our events under one roof</h3>

              <h3>Register once and you can use the same account to participate in all the events </h3> 
              
              <h3> No more hassle of registration before each event</h3>

 -->

            </div>

    <table align="center" border="0" cellpadding="0" cellspacing="0" height="100%" width="100%" id="bodyTable">
      <tr>
        <td align="center" valign="top" id="bodyCell">
          <!-- BEGIN TEMPLATE // -->
          <table border="0" cellpadding="0" cellspacing="0" width="100%">
            <tr>
              <td align="center" valign="top" id="templatePreheader">
                <!--[if gte mso 9]>
                    <table align="center" border="0" cellspacing="0" cellpadding="0" width="600" style="width:600px;">
                      <tr>
                        <td align="center" valign="top" width="600" style="width:600px;">
                        <![endif]-->
                <table align="center" border="0" cellpadding="0" cellspacing="0" width="100%" class="templateContainer">
                  <tr>
                    <td valign="top" class="preheaderContainer">
                      <table border="0" cellpadding="0" cellspacing="0" width="100%" class="mcnImageBlock" style="min-width:100%;">
                        <tbody class="mcnImageBlockOuter">
                          <tr>
                            <td valign="top" style="padding:9px" class="mcnImageBlockInner">
                              <table align="left" width="100%" border="0" cellpadding="0" cellspacing="0" class="mcnImageContentContainer" style="min-width:100%;">
                                <tbody>
                                  <tr>
                                    <td class="mcnImageContent" valign="top" style="padding-right: 9px; padding-left: 9px; padding-top: 0; padding-bottom: 0; text-align:center;">
                                      <img align="center" alt="" src="https://gallery.mailchimp.com/6d5e686af3a776f67a79d56e6/images/99cf80c1-e13e-4d11-b362-99f2353760be.png" width="564" style="max-width:1169px; padding-bottom: 0; display: inline !important; vertical-align: bottom;" class="mcnImage">
                                    </td>
                                  </tr>
                                </tbody>
                              </table>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </td>
                  </tr>
                </table>
                <!--[if gte mso 9]>
                        </td>
                      </tr>
                    </table>
                  <![endif]-->
              </td>
            </tr>
            <tr>
              <td align="center" valign="top" id="templateHeader">
                <!--[if gte mso 9]>
                    <table align="center" border="0" cellspacing="0" cellpadding="0" width="600" style="width:600px;">
                      <tr>
                        <td align="center" valign="top" width="600" style="width:600px;">
                        <![endif]-->
                <table align="center" border="0" cellpadding="0" cellspacing="0" width="100%" class="templateContainer">
                  <tr>
                    <td valign="top" class="headerContainer">
                      <table border="0" cellpadding="0" cellspacing="0" width="100%" class="mcnImageBlock" style="min-width:100%;">
                        <tbody class="mcnImageBlockOuter">
                          <tr>
                            <td valign="top" style="padding:0px" class="mcnImageBlockInner">
                              <table align="left" width="100%" border="0" cellpadding="0" cellspacing="0" class="mcnImageContentContainer" style="min-width:100%;">
                                <tbody>
                                  <tr>
                                    <td class="mcnImageContent" valign="top" style="padding-right: 0px; padding-left: 0px; padding-top: 0; padding-bottom: 0; text-align:center;">
                                      <a href="https://spiritjs.io" title="" class="" target="_blank">
                                        <img align="center" alt="" src="https://gallery.mailchimp.com/6d5e686af3a776f67a79d56e6/images/7922b4e7-8a8f-434c-8f44-e0f29619b4fd.png" width="438.5" style="max-width:877px; padding-bottom: 0; display: inline !important; vertical-align: bottom;" class="mcnImage">
                                      </a>
                                    </td>
                                  </tr>
                                </tbody>
                              </table>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                      <table border="0" cellpadding="0" cellspacing="0" width="100%" class="mcnTextBlock" style="min-width:100%;">
                        <tbody class="mcnTextBlockOuter">
                          <tr>
                            <td valign="top" class="mcnTextBlockInner">
                              <table align="left" border="0" cellpadding="0" cellspacing="0" width="100%" style="min-width:100%;" class="mcnTextContentContainer">
                                <tbody>
                                  <tr>
                                    <td valign="top" class="mcnTextContent" style="padding: 9px 18px;color: #1E2945;font-family: 'Courier New', Courier, 'Lucida Sans Typewriter', 'Lucida Typewriter', monospace;font-size: 18px;font-style: normal;font-weight: normal;line-height: 150%;text-align: left;">
                                      <p style="line-height: 150%;color: #1E2945;font-family: 'Courier New', Courier, 'Lucida Sans Typewriter', 'Lucida Typewriter', monospace;font-size: 18px;font-style: normal;font-weight: normal;text-align: left;"><strong>Hi there, welcome on board!</strong>
                                        <br>
                                        <br>SpiritJS is under construction and will be released as soon as possible.
                                        <br>You'll be the first to know!
                                        <br>
                                        <br>SpiritJS is going to be awesome and it will change the way you create animations for the web.
                                        <br>&nbsp;</p>
                                    </td>
                                  </tr>
                                </tbody>
                              </table>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                      <table border="0" cellpadding="0" cellspacing="0" width="100%" class="mcnCaptionBlock">
                        <tbody class="mcnCaptionBlockOuter">
                          <tr>
                            <td class="mcnCaptionBlockInner" valign="top" style="padding:9px;">
                              <table border="0" cellpadding="0" cellspacing="0" class="mcnCaptionRightContentOuter" width="100%">
                                <tbody>
                                  <tr>
                                    <td valign="top" class="mcnCaptionRightContentInner" style="padding:0 9px ;">
                                      <table align="left" border="0" cellpadding="0" cellspacing="0" class="mcnCaptionRightImageContentContainer">
                                        <tbody>
                                          <tr>
                                            <td class="mcnCaptionRightImageContent" valign="top">
                                              <img alt="" src="https://gallery.mailchimp.com/6d5e686af3a776f67a79d56e6/images/cb8921b8-15d6-4658-8a6e-5dac7f4ad2d6.gif" width="264" style="max-width:340px;" class="mcnImage">
                                            </td>
                                          </tr>
                                        </tbody>
                                      </table>
                                      <table class="mcnCaptionRightTextContentContainer" align="right" border="0" cellpadding="0" cellspacing="0" width="264">
                                        <tbody>
                                          <tr>
                                            <td valign="top" class="mcnTextContent" style="color: #1F2A44;font-family: 'Courier New', Courier, 'Lucida Sans Typewriter', 'Lucida Typewriter', monospace;font-size: 18px;font-style: normal;font-weight: normal;line-height: 150%;">
                                              <p style="color: #1F2A44;font-family: 'Courier New', Courier, 'Lucida Sans Typewriter', 'Lucida Typewriter', monospace;font-size: 18px;font-style: normal;font-weight: normal;line-height: 150%;">You will have full control of your animations, at anytime!</p>
                                            </td>
                                          </tr>
                                        </tbody>
                                      </table>
                                    </td>
                                  </tr>
                                </tbody>
                              </table>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                      <table border="0" cellpadding="0" cellspacing="0" width="100%" class="mcnCaptionBlock">
                        <tbody class="mcnCaptionBlockOuter">
                          <tr>
                            <td class="mcnCaptionBlockInner" valign="top" style="padding:9px;">
                              <table border="0" cellpadding="0" cellspacing="0" class="mcnCaptionLeftContentOuter" width="100%">
                                <tbody>
                                  <tr>
                                    <td valign="top" class="mcnCaptionLeftContentInner" style="padding:0 9px ;">
                                      <table align="right" border="0" cellpadding="0" cellspacing="0" class="mcnCaptionLeftImageContentContainer">
                                        <tbody>
                                          <tr>
                                            <td class="mcnCaptionLeftImageContent" valign="top">
                                              <img alt="" src="https://gallery.mailchimp.com/6d5e686af3a776f67a79d56e6/images/32e57b08-f048-4a8f-b6bd-bcd5b8cc2eaf.gif" width="264" style="max-width:340px;" class="mcnImage">
                                            </td>
                                          </tr>
                                        </tbody>
                                      </table>
                                      <table class="mcnCaptionLeftTextContentContainer" align="left" border="0" cellpadding="0" cellspacing="0" width="264">
                                        <tbody>
                                          <tr>
                                            <td valign="top" class="mcnTextContent" style="color: #1F2A44;font-family: 'Courier New', Courier, 'Lucida Sans Typewriter', 'Lucida Typewriter', monospace;font-size: 18px;font-style: normal;font-weight: normal;line-height: 150%;">
                                              <p style="color: #1F2A44;font-family: 'Courier New', Courier, 'Lucida Sans Typewriter', 'Lucida Typewriter', monospace;font-size: 18px;font-style: normal;font-weight: normal;line-height: 150%;"><span class="s1">Realtime feedback, creating animations is fun!</span>
                                              </p>
                                            </td>
                                          </tr>
                                        </tbody>
                                      </table>
                                    </td>
                                  </tr>
                                </tbody>
                              </table>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                      <table border="0" cellpadding="0" cellspacing="0" width="100%" class="mcnCaptionBlock">
                        <tbody class="mcnCaptionBlockOuter">
                          <tr>
                            <td class="mcnCaptionBlockInner" valign="top" style="padding:9px;">
                              <table border="0" cellpadding="0" cellspacing="0" class="mcnCaptionRightContentOuter" width="100%">
                                <tbody>
                                  <tr>
                                    <td valign="top" class="mcnCaptionRightContentInner" style="padding:0 9px ;">
                                      <table align="left" border="0" cellpadding="0" cellspacing="0" class="mcnCaptionRightImageContentContainer">
                                        <tbody>
                                          <tr>
                                            <td class="mcnCaptionRightImageContent" valign="top">
                                              <img alt="" src="https://gallery.mailchimp.com/6d5e686af3a776f67a79d56e6/images/1db61e28-9379-4773-9a94-3c79ef1152dd.gif" width="264" style="max-width:340px;" class="mcnImage">
                                            </td>
                                          </tr>
                                        </tbody>
                                      </table>
                                      <table class="mcnCaptionRightTextContentContainer" align="right" border="0" cellpadding="0" cellspacing="0" width="264">
                                        <tbody>
                                          <tr>
                                            <td valign="top" class="mcnTextContent" style="color: #1F2A44;font-family: 'Courier New', Courier, 'Lucida Sans Typewriter', 'Lucida Typewriter', monospace;font-size: 18px;font-style: normal;font-weight: normal;line-height: 150%;">
                                              <p style="color: #1F2A44;font-family: 'Courier New', Courier, 'Lucida Sans Typewriter', 'Lucida Typewriter', monospace;font-size: 18px;font-style: normal;font-weight: normal;line-height: 150%;"><span class="s1">It's easy to use, everybody should be able to create amazing animations!</span>
                                              </p>
                                            </td>
                                          </tr>
                                        </tbody>
                                      </table>
                                    </td>
                                  </tr>
                                </tbody>
                              </table>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                      <table border="0" cellpadding="0" cellspacing="0" width="100%" class="mcnCaptionBlock">
                        <tbody class="mcnCaptionBlockOuter">
                          <tr>
                            <td class="mcnCaptionBlockInner" valign="top" style="padding:9px;">
                              <table border="0" cellpadding="0" cellspacing="0" class="mcnCaptionLeftContentOuter" width="100%">
                                <tbody>
                                  <tr>
                                    <td valign="top" class="mcnCaptionLeftContentInner" style="padding:0 9px ;">
                                      <table align="right" border="0" cellpadding="0" cellspacing="0" class="mcnCaptionLeftImageContentContainer">
                                        <tbody>
                                          <tr>
                                            <td class="mcnCaptionLeftImageContent" valign="top">
                                              <img alt="" src="https://gallery.mailchimp.com/6d5e686af3a776f67a79d56e6/images/ac631a91-09ac-4f6f-b994-95dcbde08741.gif" width="264" style="max-width:340px;" class="mcnImage">
                                            </td>
                                          </tr>
                                        </tbody>
                                      </table>
                                      <table class="mcnCaptionLeftTextContentContainer" align="left" border="0" cellpadding="0" cellspacing="0" width="264">
                                        <tbody>
                                          <tr>
                                            <td valign="top" class="mcnTextContent" style="color: #1F2A44;font-family: 'Courier New', Courier, 'Lucida Sans Typewriter', 'Lucida Typewriter', monospace;font-size: 18px;font-style: normal;font-weight: normal;line-height: 150%;">
                                              <p style="color: #1F2A44;font-family: 'Courier New', Courier, 'Lucida Sans Typewriter', 'Lucida Typewriter', monospace;font-size: 18px;font-style: normal;font-weight: normal;line-height: 150%;"><span class="s1">Everybody wants their animation to run smoothly, therefore SpiritJS runs on GPU whenever possible.</span>
                                              </p>
                                            </td>
                                          </tr>
                                        </tbody>
                                      </table>
                                    </td>
                                  </tr>
                                </tbody>
                              </table>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                      <table border="0" cellpadding="0" cellspacing="0" width="100%" class="mcnCaptionBlock">
                        <tbody class="mcnCaptionBlockOuter">
                          <tr>
                            <td class="mcnCaptionBlockInner" valign="top" style="padding:9px;">
                              <table border="0" cellpadding="0" cellspacing="0" class="mcnCaptionRightContentOuter" width="100%">
                                <tbody>
                                  <tr>
                                    <td valign="top" class="mcnCaptionRightContentInner" style="padding:0 9px ;">
                                      <table align="left" border="0" cellpadding="0" cellspacing="0" class="mcnCaptionRightImageContentContainer">
                                        <tbody>
                                          <tr>
                                            <td class="mcnCaptionRightImageContent" valign="top">
                                              <img alt="" src="https://gallery.mailchimp.com/6d5e686af3a776f67a79d56e6/images/75b2c7e5-b914-4bfc-abd1-18e3a3c159a8.gif" width="264" style="max-width:340px;" class="mcnImage">
                                            </td>
                                          </tr>
                                        </tbody>
                                      </table>
                                      <table class="mcnCaptionRightTextContentContainer" align="right" border="0" cellpadding="0" cellspacing="0" width="264">
                                        <tbody>
                                          <tr>
                                            <td valign="top" class="mcnTextContent" style="color: #1F2A44;font-family: 'Courier New', Courier, 'Lucida Sans Typewriter', 'Lucida Typewriter', monospace;font-size: 18px;font-style: normal;font-weight: normal;line-height: 150%;">
                                              <p style="color: #1F2A44;font-family: 'Courier New', Courier, 'Lucida Sans Typewriter', 'Lucida Typewriter', monospace;font-size: 18px;font-style: normal;font-weight: normal;line-height: 150%;"><span class="s1">No coding required. Build prototypes or production ready animations in no time!
<br>You can add custom javascript for even more control.</span>
                                              </p>
                                            </td>
                                          </tr>
                                        </tbody>
                                      </table>
                                    </td>
                                  </tr>
                                </tbody>
                              </table>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                      <table border="0" cellpadding="0" cellspacing="0" width="100%" class="mcnCaptionBlock">
                        <tbody class="mcnCaptionBlockOuter">
                          <tr>
                            <td class="mcnCaptionBlockInner" valign="top" style="padding:9px;">
                              <table align="left" border="0" cellpadding="0" cellspacing="0" class="mcnCaptionTopContent" width="false">
                                <tbody>
                                  <tr>
                                    <td class="mcnTextContent" valign="top" style="padding: 0px 9px;color: #1F2A44;font-family: 'Courier New', Courier, 'Lucida Sans Typewriter', 'Lucida Typewriter', monospace;font-size: 18px;font-style: normal;font-weight: normal;line-height: 150%;" width="564">
                                      <div style="text-align: center;">
                                        <br> <span style="line-height:20.8px">---</span>
                                      </div>
                                      <br> <span style="line-height:20.8px">Please sit back and wait while I do all the work and build something great for you!</span>

                                    </td>
                                  </tr>
                                  <tr>
                                    <td class="mcnCaptionTopImageContent" align="center" valign="top" style="padding:9px 9px 0 9px;">
                                      <img alt="" src="https://gallery.mailchimp.com/6d5e686af3a776f67a79d56e6/images/6f25dcf1-ca58-47fe-b1a3-b53b200189e8.gif" width="340" style="max-width:340px;" class="mcnImage">
                                    </td>
                                  </tr>
                                </tbody>
                              </table>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                      <table border="0" cellpadding="0" cellspacing="0" width="100%" class="mcnTextBlock" style="min-width:100%;">
                        <tbody class="mcnTextBlockOuter">
                          <tr>
                            <td valign="top" class="mcnTextBlockInner">
                              <table align="left" border="0" cellpadding="0" cellspacing="0" width="100%" style="min-width:100%;" class="mcnTextContentContainer">
                                <tbody>
                                  <tr>
                                    <td valign="top" class="mcnTextContent" style="padding: 9px 18px;color: #1E2945;font-family: 'Courier New', Courier, 'Lucida Sans Typewriter', 'Lucida Typewriter', monospace;font-size: 18px;font-style: normal;font-weight: normal;line-height: 150%;">I hope to see you soon,
                                      <br>
                                      <br>
                                      <a href="http://inlet.nl" target="_blank">Patrick Brouwer</a>
                                      <br>
                                      <br>
                                      <br>
                                      <br>&nbsp;</td>
                                  </tr>
                                </tbody>
                              </table>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </td>
                  </tr>
                </table>
                <!--[if gte mso 9]>
                        </td>
                      </tr>
                    </table>
                  <![endif]-->
              </td>
            </tr>
            <tr>
              <td align="center" valign="top" id="templateBody">
                <!--[if gte mso 9]>
                    <table align="center" border="0" cellspacing="0" cellpadding="0" width="600" style="width:600px;">
                      <tr>
                        <td align="center" valign="top" width="600" style="width:600px;">
                        <![endif]-->
                <table align="center" border="0" cellpadding="0" cellspacing="0" width="100%" class="templateContainer">
                  <tr>
                    <td valign="top" class="bodyContainer"></td>
                  </tr>
                </table>
                <!--[if gte mso 9]>
                        </td>
                      </tr>
                    </table>
                  <![endif]-->
              </td>
            </tr>
            <tr>
              <td align="center" valign="top" id="templateFooter">
                <!--[if gte mso 9]>
                    <table align="center" border="0" cellspacing="0" cellpadding="0" width="600" style="width:600px;">
                      <tr>
                        <td align="center" valign="top" width="600" style="width:600px;">
                        <![endif]-->
                <table align="center" border="0" cellpadding="0" cellspacing="0" width="100%" class="templateContainer">
                  <tr>
                    <td valign="top" class="footerContainer">
                      <table border="0" cellpadding="0" cellspacing="0" width="100%" class="mcnTextBlock" style="min-width:100%;">
                        <tbody class="mcnTextBlockOuter">
                          <tr>
                            <td valign="top" class="mcnTextBlockInner">
                              <table align="left" border="0" cellpadding="0" cellspacing="0" width="100%" style="min-width:100%;" class="mcnTextContentContainer">
                                <tbody>
                                  <tr>
                                    <td valign="top" class="mcnTextContent" style="padding: 50px 50px;color: #FFFFFF;font-family: 'Courier New', Courier, 'Lucida Sans Typewriter', 'Lucida Typewriter', monospace;font-size: 16px;"> <em>Copyright © 2016 SpiritJS, All rights reserved.</em>
                                      <br>
                                    </td>
                                  </tr>
                                </tbody>
                              </table>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </td>
                  </tr>
                </table>
                <!--[if gte mso 9]>
                        </td>
                      </tr>
                    </table>
                  <![endif]-->
              </td>
            </tr>
          </table>
          <!-- // END TEMPLATE -->
        </td>
      </tr>
    </table>
  
          </div>
          <!-- Content Wrapper END -->

        <%- include('_footer'); %>

        </div>
        <!-- Page Container END -->
      </div>
    </div>

    <!-- Preloader -->
    <div id="preloader">
      <div class="loader" id="loader-1"></div>
    </div>
    <!-- End Preloader -->

     <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="/js/jquery-min.js"></script>
    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/jquery.app.js"></script>
    <script src="/js/main.js"></script>

    <!--Morris Chart-->
    <script src="/plugins/morris/morris.min.js"></script>
    <script src="/plugins/raphael/raphael-min.js"></script>
    <script src="/js/dashborad1.js"></script>

  </body>
</html>